body {
  margin: 0px;
  background-color: #e3516e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.slice {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  align-items: start;
}

.square1,
.square2,
.square3 {
  width: 100px;
  height: 100px;
}
.square1 {
  background-color: #51b5a9;
  border-top-left-radius: 100%;
}
.square2 {
  background-color: #fade8b;
  border-top-right-radius: 100%;
}
.square3 {
  background-color: #f7f3d7;
  border-bottom-left-radius: 100%;
}
